# @markgravity is the Team Lead and the others are team member
* @suho @blyscuit @markgravity @minhnimble @nmint8m @phongvhd93 @vnntsu @ducbm051291 @Shayokh144 @Thieurom @nkhanh44 @dquangit @roman-nimble @nhgia

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
