# @suho is the Team Lead and the others are team member
* @suho @blyscuit @edgarss @markgravity @minhnimble @nmint8m @phongvhd93 @vnntsu @ducbm051291 @Shayokh144

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
