<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>co.nimble.ios-template.blank</string>
    <key>Nodes</key>
    <array>
        <string>temp</string>
    </array>
    
    <key>Definitions</key>
    <dict>
        <key>temp</key>
        <dict>
			<key>Path</key>
			<string>../temp/</string>
        </dict>
    </dict>

</dict>
</plist>
