DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
GCC_OPTIMIZATION_LEVEL = s
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
ENABLE_BITCODE = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PRODUCTION=1
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = {BUNDLE_ID_PRODUCTION}
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PRODUCTION RELEASE
