BUILD_ACTIVE_RESOURCES_ONLY = YES
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_NS_ASSERTIONS = YES
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1 STAGING=1
PRODUCT_NAME = $(TARGET_NAME) Staging
PRODUCT_BUNDLE_IDENTIFIER = {BUNDLE_ID_STAGING}
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG STAGING
