<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>co.nimblehq.dt.unit.bundleBase</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.base</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>SharedSettings</key>
            <dict>
                <key>INFOPLIST_FILE</key>
                <string>___PACKAGENAME___/Info.plist</string>
                <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:Identifier</string>
        <string>Info.plist:PlistVersion</string>
        <string>Info.plist:Executable</string>
        <string>Info.plist:BundleName</string>
        <string>Info.plist:DevelopmentRegion</string>
        <string>Info.plist:PackageType</string>
        <string>Info.plist:ProductVersion</string>
    </array>
</dict>
</plist>
