<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>co.nimblehq.dt.unit.applicationBase</string>
    <key>Ancestors</key>
    <array>
        <string>co.nimblehq.dt.unit.bundleBase</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>ProductType</key>
            <string>com.apple.product-type.application</string>
            <key>BuildPhases</key>
            <array>
                <dict>
                    <key>Class</key>
                    <string>Sources</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Frameworks</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Resources</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Swift</key>
                <dict>
                    <key>Definitions</key>
                    <dict>
                        <key>main.swift</key>
                        <dict>
                            <key>SortOrder</key>
                            <integer>999</integer>
                        </dict>
                        <key>main.swift:main</key>
                        <dict>
                            <key>Beginning</key>
                            <string/>
                            <key>End</key>
                            <string/>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Definitions</key>
    <dict>
        <!-- This is defined globally for templates that don't want language choice -->
        <key>main.m</key>
        <dict>
            <key>SortOrder</key>
            <integer>999</integer>
        </dict>
        <key>main.m:main</key>
        <dict>
            <key>Beginning</key>
            <string>int main(int argc, const char * argv[]) {</string>
            <key>End</key>
            <string>}</string>
            <key>Indent</key>
            <integer>1</integer>
        </dict>
    </dict>
</dict>
</plist>
