<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>co.nimblehq.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>co.nimblehq.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Dev Staging</key>
			<dict/>
			<key>Staging</key>
			<dict/>
			<key>Dev UAT</key>
			<dict/>
			<key>UAT</key>
			<dict/>
			<key>Dev Production</key>
			<dict/>
			<key>Production</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>SWIFT_VERSION</key>
				<string>5.0</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Info.plist</string>
				<key>PRODUCT_BUNDLE_IDENTIFIER</key>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<key>PRODUCT_NAME</key>
				<string>$(PRODUCT_NAME)</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Swift</string>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
					</array>
				</dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Programmatically</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Application/AppDelegate/Application.AppDelegate.swift</string>
							<string>Application/Constants/Constants.swift</string>
							<string>Application/Entitlements/Entitlements.swift</string>
							<string>Application/Localizations/Localizations.swift</string>
							<string>Application/Resources/Resource.swift</string>
							<string>Extensions/Extensions.swift</string>
							<string>Models/Models.swift</string>
							<string>Modules/Modules.swift</string>
							<string>Protocols/Protocols.swift</string>
							<string>Services/Services.swift</string>
							<string>Utilities/Utilities.swift</string>
							<string>Views/View.swift</string>
							<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
							<string>Configurations/XCConfigs/Base/Debug.xcconfig</string>
							<string>Configurations/XCConfigs/Base/Debug.xcconfig:implementation</string>
							<string>Configurations/XCConfigs/Base/Release.xcconfig</string>
							<string>Configurations/XCConfigs/Base/Release.xcconfig:implementation</string>
							<string>Configurations/XCConfigs/DevStaging.xcconfig</string>
							<string>Configurations/XCConfigs/DevStaging.xcconfig:implementation</string>
							<string>Configurations/XCConfigs/DevUAT.xcconfig</string>
							<string>Configurations/XCConfigs/DevUAT.xcconfig:implementation</string>
							<string>Configurations/XCConfigs/DevProduction.xcconfig</string>
							<string>Configurations/XCConfigs/DevProduction.xcconfig:implementation</string>
							<string>Configurations/XCConfigs/Staging.xcconfig</string>
							<string>Configurations/XCConfigs/Staging.xcconfig:implementation</string>
							<string>Configurations/XCConfigs/UAT.xcconfig</string>
							<string>Configurations/XCConfigs/UAT.xcconfig:implementation</string>
							<string>Configurations/XCConfigs/Production.xcconfig</string>
							<string>Configurations/XCConfigs/Production.xcconfig:implementation</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Configurations/XCConfigs/Base/Debug.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
									<string>Base</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/Base/Debug.xcconfig:implementation</key>
							<string>BUILD_ACTIVE_RESOURCES_ONLY = YES
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_NS_ASSERTIONS = YES
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1
ONLY_ACTIVE_ARCH = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
							</string>
							<key>Configurations/XCConfigs/Base/Release.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
									<string>Base</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/Base/Release.xcconfig:implementation</key>
							<string>DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
GCC_OPTIMIZATION_LEVEL = s
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
ENABLE_BITCODE = YES
							</string>
							<key>Configurations/XCConfigs/DevStaging.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/DevStaging.xcconfig:implementation</key>
							<string>#include &quot;Base/Debug.xcconfig&quot;

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) STAGING=1 
PRODUCT_BUNDLE_IDENTIFIER = ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___.staging
PRODUCT_NAME = $(TARGET_NAME) Staging
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) STAGING
							</string>
							<key>Configurations/XCConfigs/DevUAT.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/DevUAT.xcconfig:implementation</key>
							<string>#include &quot;Base/Debug.xcconfig&quot;

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) UAT=1
PRODUCT_BUNDLE_IDENTIFIER = ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___.uat
PRODUCT_NAME = $(TARGET_NAME) UAT
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) UAT
							</string>
							<key>Configurations/XCConfigs/DevProduction.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/DevProduction.xcconfig:implementation</key>
							<string>#include &quot;Base/Debug.xcconfig&quot;

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PRODUCTION=1
PRODUCT_BUNDLE_IDENTIFIER = ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PRODUCTION
							</string>
							<key>Configurations/XCConfigs/Staging.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/Staging.xcconfig:implementation</key>
							<string>#include &quot;Base/Release.xcconfig&quot;

ENABLE_BITCODE = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) STAGING=1
PRODUCT_BUNDLE_IDENTIFIER = ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___.staging
PRODUCT_NAME = $(TARGET_NAME) Staging
SWIFT_ACTIVE_COMPILATION_CONDITIONS = STAGING
							</string>
							<key>Configurations/XCConfigs/UAT.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/UAT.xcconfig:implementation</key>
							<string>#include &quot;Base/Release.xcconfig&quot;

ENABLE_BITCODE = NO
ENABLE_NS_ASSERTIONS = YES
ENABLE_TESTABILITY = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) UAT=1
PRODUCT_BUNDLE_IDENTIFIER = ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___.uat
PRODUCT_NAME = $(TARGET_NAME) UAT
SWIFT_ACTIVE_COMPILATION_CONDITIONS = UAT
							</string>
							<key>Configurations/XCConfigs/Production.xcconfig</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Configurations</string>
									<string>XCConfigs</string>
								</array>
							</dict>
							<key>Configurations/XCConfigs/Production.xcconfig:implementation</key>
							<string>#include &quot;Base/Release.xcconfig&quot;

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PRODUCTION=1
PRODUCT_BUNDLE_IDENTIFIER = ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PRODUCTION
							</string>
							<key>Application/AppDelegate/Application.AppDelegate.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Application</string>
									<string>AppDelegate</string>
								</array>
							</dict>
							<key>Application/Constants/Constants.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Application</string>
									<string>Constants</string>
								</array>
							</dict>
							<key>Application/Entitlements/Entitlements.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Application</string>
									<string>Entitlements</string>
								</array>
							</dict>
							<key>Application/Localizations/Localizations.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Application</string>
									<string>Localizations</string>
								</array>
							</dict>
							<key>Application/Resources/Resource.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Application</string>
									<string>Resources</string>
								</array>
							</dict>
							<key>Extensions/Extensions.swift</key>
							<dict>
								<key>Group</key>
								<string>Extensions</string>
							</dict>
							<key>Models/Models.swift</key>
							<dict>
								<key>Group</key>
								<string>Models</string>
							</dict>
							<key>Modules/Modules.swift</key>
							<dict>
								<key>Group</key>
								<string>Modules</string>
							</dict>
							<key>Protocols/Protocols.swift</key>
							<dict>
								<key>Group</key>
								<string>Protocols</string>
							</dict>
							<key>Services/Services.swift</key>
							<dict>
								<key>Group</key>
								<string>Services</string>
							</dict>
							<key>Utilities/Utilities.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
							</dict>
							<key>Views/View.swift</key>
							<dict>
								<key>Group</key>
								<string>Views</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
							<key>appLifecycle</key>
							<string>Cocoa</string>
						</dict>
						<key>Nodes</key>
                        <array>
                            <string>Info.plist:UIApplicationSceneManifest</string>
                            <string>AppDelegate.swift:implementation:methods:UISceneSessionLifecycleBanner</string>
                            <string>AppDelegate.swift:implementation:methods:applicationconfigurationForConnectingSceneSession(func application(_ application: UIApplication, configurationForConnecting connectingSceneSession: UISceneSession, options: UIScene.ConnectionOptions\) -> UISceneConfiguration)</string>
                            <string>AppDelegate.swift:implementation:methods:applicationconfigurationForConnectingSceneSession:comment</string>
                            <string>AppDelegate.swift:implementation:methods:applicationconfigurationForConnectingSceneSession:body</string>
                            <string>AppDelegate.swift:implementation:methods:applicationdidDiscardSceneSessions(func application(_ application: UIApplication, didDiscardSceneSessions sceneSessions: Set&lt;UISceneSession&gt;\))</string>
                            <string>AppDelegate.swift:implementation:methods:applicationdidDiscardSceneSessions:comment</string>
                            <string>SceneDelegate.swift:comments</string>
                            <string>SceneDelegate.swift:imports:importCocoa</string>
                            <string>SceneDelegate.swift:implementation(SceneDelegate: UIResponder, UIWindowSceneDelegate)</string>
                            <string>SceneDelegate.swift:implementation:properties:window</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession(func scene(_ scene: UIScene, willConnectTo session: UISceneSession, options connectionOptions: UIScene.ConnectionOptions\))</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:comments</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneDidDisconnect(func sceneDidDisconnect(_ scene: UIScene\))</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneDidDisconnect:comments</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneDidBecomeActive(func sceneDidBecomeActive(_ scene: UIScene\))</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneDidBecomeActive:comments</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillResignActive(func sceneWillResignActive(_ scene: UIScene\))</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillResignActive:comments</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillEnterForeground(func sceneWillEnterForeground(_ scene: UIScene\))</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneWillEnterForeground:comments</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneDidEnterBackground(func sceneDidEnterBackground(_ scene: UIScene\))</string>
                            <string>SceneDelegate.swift:implementation:methods:sceneDidEnterBackground:comments</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>AppDelegate.swift:implementation:properties:window</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationWillResignActive</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationWillResignActive:comments</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationDidEnterBackground</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationDidEnterBackground:comments</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationWillEnterForeground</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationWillEnterForeground:comments</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationDidBecomeActive</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:applicationDidBecomeActive:comments</key>
                            <string></string>
                            <key>AppDelegate.swift:implementation:methods:UISceneSessionLifecycleBanner</key>
                            <string>// MARK: UISceneSession Lifecycle

</string>
                            <key>AppDelegate.swift:implementation:methods:applicationconfigurationForConnectingSceneSession:body</key>
                            <string>return UISceneConfiguration(name: "Default Configuration", sessionRole: connectingSceneSession.role)</string>
                            <key>SceneDelegate.swift:implementation:properties:window</key>
                            <string>var window: UIWindow?</string>
                            <key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
                            <string>guard let _ = (scene as? UIWindowScene) else { return }</string>
                        </dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>ENABLE_PREVIEWS</key>
									<string>YES</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Values</key>
			<array>
				<string>SwiftUI</string>
				<string>Programmatically</string>
			</array>
			<key>Default</key>
			<string>Programmatically</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../fastlane/Managers/CodeSigningManager.rb</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>fastlane/Managers/CodeSigningManager.rb</string>
		</dict>
		<key>../fastlane/Managers/TestManager.rb</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>fastlane/Managers/TestManager.rb</string>
		</dict>
		<key>../fastlane/Fastfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>fastlane/Fastfile</string>
		</dict>
		<key>../fastlane/Constants/Constants.rb</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>fastlane/Constants/Constants.rb</string>
		</dict>
		<key>../Gemfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>Gemfile</string>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>Podfile</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___.xcscheme</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___ Staging.xcscheme</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___ Staging.xcscheme</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___ UAT.xcscheme</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Removable Resources</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___ UAT.xcscheme</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../fastlane/Managers/CodeSigningManager.rb</string>
		<string>../fastlane/Managers/TestManager.rb</string>
		<string>../fastlane/Constants/Constants.rb</string>
		<string>../fastlane/Fastfile</string>
		<string>../Gemfile</string>
		<string>../Podfile</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___ Staging.xcscheme</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___ UAT.xcscheme</string>
	</array>
</dict>
</plist>
